
.slant.controls { }

@-webkit-keyframes slant-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slant-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.slant.player .slant.controls {
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.slant.player .slant.controls ul {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slant.player .slant.controls ul li {
  display: block;
  position: relative;
  width: 60px;
  padding: 10px 0;
}

.slant.player .slant.controls ul li a {
  display: block;
  position: relative;
  vertical-align: middle;
  color: #ddd;
  font-size: 24px;
  font-weight: 100;
  text-decoration: none;
  letter-spacing: -10px;

  -webkit-animation-name: slant-fade;
  animation-name: slant-fade;
}

.slant.player .slant.controls ul li:hover {
  color: #000;
  background: rgba(221, 221, 221, 0.75);
}

.slant.player .slant.controls ul li a:hover {
  color: #000;
}

